/* -----Normalización----- */

* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif; 
    

}

/* -----NavBar----- */
header {
    width: 100vw;
    height: 10vh;
   position: fixed;
   z-index: 30;
    display: flex;
    

}

.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#000; 
   

}

img {
    height: 5vh;

}


nav ul {
    width: 70%;
    position: absolute;
    height: 10vh;
    background-color: #000; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 4vw;
    font-weight: bold;
    
    


}

nav ul li a {
    text-decoration: none;
    /* border: 2px solid #4C4649; */
    padding: 5px;
    color: #d6c5cd;
   

}

li {
    list-style-type: none;
}

li a:hover {
    background-color: #d903678c;
    font-style : italic;
}

/* -----Segunda Barra----- */

.segundaNav {
    width: 100vw;
    height: 25vh;
    /* background-image: url(../fondo/fondo3.jpeg);
    background-size:auto;
    background-position: center; */
    /* background-color: #4C4649; */
    padding-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.fa-chevron-left, .fa-chevron-right{

font-size: 30px;

}

p{
    text-decoration: none;
    color: #d90367bd;
    font-size: 45px;
    /* font-family: 'Syne Mono', monospace; */
}

.segundaNav a:hover{
    background-color:  #4903248c;
    font-style : italic;
}

/* ----- Checkbox----- Y  -----Busqueda----- */

.category-busqueda {
    width: 98%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 2vw;
    /* background-color: #e9b3b3; */

}
label{
    font-size: 11px;
}

.busq{
    width:98vw;
    height: 10vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.busqued{
    width:20vw;
    height: 5vh;
    border:none;
    outline: none;
    border-bottom: 2px solid rgb(4, 3, 17);
    font-family: 'Roboto', sans-serif; 
    
}



/* -----Tarjetas----- */

#todosLosEventos{

    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: #e9b3b3; */
    
}

.uno{
    display: contents;
    height: 80vh;
  
  
}
.cards{
    border: 2px solid #00000034;
    border-radius: 20px;
    margin: 5px;
    
}
.cards:hover{
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
    /* box-shadow: 0px 0px 3px 3px #d90367bd ; */
}

.cardUno{
    width: 18vw;
    height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #eee9eb;
    padding: 20px;
    border-radius: 20px;
}

.img{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imagenUno{
    background-size: cover;
    border-radius: 20px;
}


.title{

    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-family: 'Syne Mono', monospace;
    font-weight: bold;

    

}
.descrip{
    height: 10vh;
    font-size: 14px;
    text-align: center;
   

}

.price{
   
    width: 18vw;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-weight: bold;
   
}
.price-ver{
    width: 18vw;
}

.verMas{
    width: 18vw;
    display: flex;
    justify-content: end;
}

.but{
    width: 6vw;
    height: 6vh;
    box-shadow: -2px -2px 3px 3px rgba(15, 11, 11, 0.479); 
 }

button:hover {
   background-color: #4C4649;
   
}

.but a{
text-decoration: none;
color: #000;
}

/*-----Footer----- */

footer {
    width: 100vw ;
    height: 10vh;
    background-color: #4C4649;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
}

.redes{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    column-gap: 3vh;
    margin-left: 2vh;
}

.fa-brands, .fa-square-instagram{
    font-size: 25px;
    color: #000;
}

.cohorte{
    width: 48% !important;
    height: 100% !important;; 
    display: flex !important;;
    align-items: center !important;;
    padding-right: 2vw !important;;
    justify-content: end !important;;
    font-size: 20px !important;;
   
}

/* ---------------------Mensaje De no encontrar resultado en la busqueda--------------------------- */

.ceroResult{
    width: 100vw;
    height: 45vh;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------Formulario--------------------------------- */


.row {
    width: 50vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.validate{
    width: 15vw;
}

.prefix {
    color: #d10f70c9 !important;

}

.active {
    color: #4C4649 !important;

}

label .fa-solid {
    width: 2vw;
}

/* ---------------------------OK-Para cambiar los colores de las barras del formulario--------------------------------------- */
.input-field input[type=text].validate:focus {
    border-bottom: 1px solid #d903678c !important;
    box-shadow: 0 1px 0 0 #d903678c !important;
}
input{
    
    border:none;
    outline: none;
    border-bottom: 2px solid rgba(4, 3, 17, 0.596);
    font-family: 'Roboto', sans-serif; 
}
.input-field input[type=tel].validate:focus {
    
    border-bottom: 1px solid #d903678c !important;
    box-shadow: 0 1px 0 0 #d903678c !important;
}
.input-field{
    margin-top:5vh;
}

button {
    width: 7vw;
    height: 5vh;
    margin-top: 3vh;
    box-shadow: 3px 3px 5px 3px#13141388;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a56c878c;
}
