/* -----Normalización----- */

* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;

}

/* -----NavBar----- */
header {
    width: 100vw;
    height: 10vh;
    position: relative;
    display: flex;

}

.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0404;

}

img {
    height: 5vh;

}

nav ul {
    color: #d903678c;
    width: 70%;
    position: absolute;
    height: 10vh;
    background-color: #0c0404;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 4vw;
    font-weight: bold;

}

nav ul li a {
    text-decoration: none;
    color: #d6c5cd;
    border-bottom: 2px solid #d903678c;
}

li {
    list-style-type: none;
}

li a:hover {
    background-color: #d903678c;
    font-style: italic;

}


/* -----Tarjetas----- */

main {

    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;




}

.contenedor {

    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
}

.conteUno {
    width: 30vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.conteDos {
    width: 30vw;
    height: 40vh;


}

.titulo {
    height: 13vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-weight: bold;
    font-family: 'Syne Mono', monospace;
    ;
}

.descrip {
    justify-content: center;
    text-align: center;
    font-size: 15px;


}

i {
    padding: 4px;
}

/*-----Footer----- */

footer {
    width: 100vw;
    height: 10vh;
    background-color: #4C4649;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.redes {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 3vh;
    margin-left: 2vh;
}

.fa-brands,
.fa-square-instagram {
    font-size: 25px;
    color: #000;
}

.cohorte {
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 2vw;
    justify-content: end;
    font-size: 20px;

}

/*--------------------------------------------- RESPONSIVE------------------------------------------------------ */
@media screen and (min-width:1361px) {
    .titulo {
        font-size: 30px;
    }

    .descrip {
        font-size: 20px;
        line-height: 4vh;
    }


}

@media screen and (min-width:640px) and (max-width:1279px) {

    nav ul li a {
        font-size: 10px;
    }

    .titulo {
        font-size: 15px;
    }

    .descrip {
        font-size: 12px;
    }
}

@media screen and (max-width:390px) {

    main {
        height: 85vh;
    }

    .titulo {
        font-size: 25px;
    }

    #detalle {
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 100vw;
    }

    header {
        display: contents;
    }

    nav ul {
        width: 100vw;
        font-size: 10px;
    }

    #name {
        font-size: 25px;
    }

    .segundaNav {
        height: 10vh;
    }

    label {
        font-size: 10px;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .conteUno {
        width: 70vw;
        height: 50vh;
        margin-top: 10vh;
    }

    .conteDos {
        width: 100vw;
        justify-content: center;
        align-items: center;

    }

    .descrip {
        font-size: 21px;
        line-height: 5vh;
    }

}